.board_container{
    display: grid;
    grid-template-rows: repeat(8, minmax(0, 1fr));
    grid-template-columns: repeat(8, minmax(0, 1fr));
    width: 500px;
    height: 500px;
    background-color: white;
}
.boardcell-white{
    height: auto;
    width: auto;
    background-color: white;
}
.boardcell-black{
    height: auto;
    width: auto;
    background-color: black;
}
